##
# {{ ansible_managed }}
#
#jinja2:trim_blocks: False

{{ item }}
{
	daily
	missingok
	compress
	delaycompress
	copytruncate
	rotate 7
	sharedscripts
	postrotate
		service rsyslog restart
	endscript
}
