#jinja2:trim_blocks: True
##
# {{ ansible_managed }}
#

{% for path in sansible_logrotate_application_logs_paths %}
"{{ path }}"
{% endfor %} {
	daily
	missingok
	compress
	{% if sansible_logrotate_application_logs_delay_compress -%}
	delaycompress
	{% endif -%}
	copytruncate
	rotate {{ sansible_logrotate_application_logs_rotate_days }}
	sharedscripts
	postrotate
		service rsyslog restart
	endscript
}
