##
# {{ ansible_managed }}
#

{% for path in sansible_logrotate_application_logs_paths %}
"{{ path }}"
{% endfor %} {
	daily
	missingok
	compress
	delaycompress
	copytruncate
	rotate 7
	sharedscripts
	postrotate
		service rsyslog restart
	endscript
}
